@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


body {
    background-color: black;
    color: #F29727;
    font-size: 1.5rem;
}

nav .nav-link {
    color: #F29727 !important;
}

/* -- Branding Strip -- */

.gold-stripe {
    background-color: #F29727;
    height: 20px;
}

.branding-strip {
    background-color: #10B233;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.slogan {
    font-family: 'Kaushan Script', cursive;
}

/* -- Colours -- */

.color-scheme-ax {
    background-color: #000000;
    color: #10B233;
}

.color-scheme-ay {
    background-color: #10B233;
    color: #000000;
}

.color-scheme-bx {
    background-color: #000000;
    color: #F29727;
}

.color-scheme-bx {
    background-color: #F29727;
    color: #000000;
}

.color-scheme-cx {
    background-color: #075F1B;
    color: #FFFFFF;
}

.color-scheme-cy {
    background-color: #FFFFFF;
    color: #075F1B;
}

/* -- Opening Times -- */

.opening-times {

}



/* --  -- */
