@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    background-color: black;
    color: #F29727;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

nav .nav-link {
    color: #F29727 !important;
}

/* -- Branding Strip -- */

.gold-stripe {
    background-color: #F29727;
    height: 20px;
}

.black-stripe {
    background-color: #000000;
    height: 20px;
}

.green-stripe {
    background-color: #075F1B;
    height: 20px;
}

.green-stripe-slim {
    background-color: #075F1B;
    height: 5px;
}

.branding-strip {
    padding: 20px;
    text-align: center;
}

.slogan {
    font-family: 'Kaushan Script', cursive;
    padding: 0 20px 0 20px;
}

/* -- Colours -- */

.color-scheme-ax {
    background-color: #000000;
    color: #FFFFFF;
}

.color-scheme-ay {
    background-color: #FFFFFF;
    color: #000000;
}

.color-scheme-bx {
    background-color: #000000;
    color: #F29727;
}

.color-scheme-by {
    background-color: #F29727;
    color: #000000;
}

.color-scheme-cx {
    background-color: #075F1B;
    color: #FFFFFF;
}

.color-scheme-cy {
    background-color: #FFFFFF;
    color: #075F1B;
}

/* -- Introduction -- */

.introduction {
    padding: 20px;
}

.introduction-text {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.image {
    padding: 0;
    width: 100%;
    border-radius: 20px;
}

/* -- Opening Times -- */

.opening-times {
    padding: 20px;
}

.opening-times-text {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.opening-times-table {
    margin: 0 auto;
    width: 100%;
    font-size: medium;
}

.opening-times-table td {
    padding: 0 5px;
}

/* -- Weekly Activities -- */

.weekly-activities {
    padding: 20px;
}

.weekly-activities-text {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.weekly-activities-table {
    margin: 0 auto;
    width: 100%;
    font-size: medium;
}

.weekly-activities-table td {
    padding: 0 5px;
}

/* -- Find Us -- */

#map-wrapper {
    height: 100%;
    padding: 20px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.contact-us {
    padding: 20px;
}

.contact-us-text {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.contact-us-item {
    font-size: 14px;
}

/* -- Footer -- */

.copyright {
    padding: 20px 0;
    font-size: small;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
}

.facebook {
    padding: 20px 0;
    font-size: small !important;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
}

.foodbank {
    padding: 20px 0;
    font-size: small !important;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
}

.church {
    font-size: small !important;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    padding: 20px 0;
}

.footer {
    padding: 0;
    margin: 0;
    border: 0;
}

/* -- MENU PAGE -- */

/* -- Disclaimer -- */

.disclaimer {
    text-align: center;
    padding: 20px;
}

.disclaimer p {
    font-size:small;
}

/* -- Brunch Menu -- */

.brunch-menu {
    padding: 20px;
}

.brunch-menu-text {
    padding: 20px;
    text-align: center;
}

.brunch-menu p {
    font-size: medium;
}

.brunch-menu li {
    text-align: left;
    font-size: medium;
}

/* -- Lunch Menu -- */

.lunch-menu {
    padding: 20px;
}

.lunch-menu-text {
    padding: 20px;
    text-align: center;
}

.lunch-menu p {
    font-size: medium;
}

.lunch-menu li {
    text-align: left;
    font-size: medium;
}

/* -- Drinks Menu -- */

.drinks-menu {
    padding: 20px;
}

.drinks-menu-text {
    padding: 20px;
    text-align: center;
}

.drinks-menu p {
    font-size: medium;
}

.drinks-menu-text tr td {
    text-align: left;
    font-size: medium;
    padding: 0 5px;
}

.drinks-menu-text tr th {
    text-align: left;
    font-size: medium;
    padding: 0 5px;
}

.drinks-menu-table {
    margin: 0 auto;
    width: 100%;
    font-size: medium;
}

/* -- Media Queries -- */

@media screen and (min-width: 770px) {
    .introduction-text {
        margin-bottom: 0;
    }

    .opening-times-text {
        margin-top: 0;
    }

    .weekly-activities-text {
        margin-bottom: 0;
    }

    .contact-us-text {
        margin-top: 0;
    }
}

