@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    background-color: black;
    color: #F29727;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

nav .nav-link {
    color: #F29727 !important;
}

/* -- Branding Strip -- */

.gold-stripe {
    background-color: #F29727;
    height: 20px;
}

.black-stripe {
    background-color: #000000;
    height: 20px;
}

.green-stripe {
    background-color: #075F1B;
    height: 20px;
}

.green-stripe-slim {
    background-color: #075F1B;
    height: 5px;
}

.branding-strip {
    padding: 20px;
    text-align: center;
}

.slogan {
    font-family: 'Kaushan Script', cursive;
    padding: 0 20px 0 20px;
}

/* -- Colours -- */

.color-scheme-ax {
    background-color: #000000;
    color: #FFFFFF;
}

.color-scheme-ay {
    background-color: #FFFFFF;
    color: #000000;
}

.color-scheme-bx {
    background-color: #000000;
    color: #F29727;
}

.color-scheme-by {
    background-color: #F29727;
    color: #000000;
}

.color-scheme-cx {
    background-color: #075F1B;
    color: #FFFFFF;
}

.color-scheme-cy {
    background-color: #FFFFFF;
    color: #075F1B;
}

/* -- Introduction -- */

.introduction {
    padding: 20px;
    text-align: center;
}

.image {
    margin: 20px 20px 20px 0;
    padding: 0;
    width: 100%;
}

.index-box {
    padding: 20px;
    width: 100%;
}

/* -- Opening Times -- */

.opening-times {
    padding: 20px;
    text-align: center;
}

.opening-times-table {
    margin: 0 auto;
    width: 50%;
    font-size: medium;
}

.opening-times-table td {
    padding: 0 15px;
}

/* -- Weekly Activities -- */

.weekly-activities {
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.weekly-activities-table {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    font-size: small;
}

.weekly-activities-table td {
    padding: 5px 15px;
}

/* -- Find Us -- */

#map-wrapper {
    height: fit-content;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.contact-us {
    padding: 20px;
    text-align: center;
}

.contact-us-item {
    font-size: 14px;
}
